@charset "UTF-8";
/*TODAS AS MIDIAS */
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
}