@charset "UTF-8";
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    width: 400px;
    border-collapse: collapse;
    position: relative;
}
td,th{
    border: 1px solid black;
    padding: 10px;
    width: -50px;
}
thead,tfoot{
    background-color: rgb(83, 83, 74);
}
thead>tr>th{
    position: sticky;
    top: -1px;
    background-color: rgb(83, 83, 74);
}
caption{
    background-color: rgb(26, 26, 23);
    padding: 10px;
    color: white;
}
tbody tr:nth-child(2n){
    background-color: lightpink;
}