@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: dark;
    min-height: 100vh;
}
header{
    background-color: black;
    font-style: normal;
    font-weight: 700px;
    text-align: center;
    font-size: 35px;
    color: white;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 10vw;
}
header>p{
    padding-bottom: 50px;
}
main{
    font-family: 'Sriracha', cursive;
    background-image: linear-gradient(to top,rgba(49, 9, 94,rgba(41, 39, 63, 0.651)39, 63),black);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-size: 3.5vw;

}
section.imagem{
    background-color: aliceblue;
    color: white;
}
section.texto{
    background-color: rgb(48, 54, 52);
    color: white;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
