@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    font-family: 'Caveat', cursive;
    font-size: 17px;
    color: rgb(68, 114, 99);
    
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;

}
p{
    font-size: 20px;
}