@charset "UTF-8";
/* configuração para todos */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    background: blue;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    padding: 10px;
    text-shadow: 3px 3px 0px rgb(3, 3, 109);
}