@charset "UTF-8";
/*Versão para mobile */
*{
    margin: 0px ;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: 0px;
    font-size: 1.3em;
}
body,html{
    height: 100vh;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: white;
}
body{
    background:  black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.815);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
img{
    margin: auto;
    display: block;
}
img#cel{
    display: block;
}
img#tabl{
    display: none;
}
img#print{
    display: none;
}
img#pc{
    display: none;
}
img#tv{
    display: none;
}