@charset "UTF-8";
body{
    background: black url(imagens/wallpaper002.jpg) center center repeat-y  fixed;
    background-size: cover;
    height: 100vh;
}
main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
}