@charset "UTF-8";
div.bloco{
    background-image: url(imagens/wallpaper002.jpg);
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}
div#b1{
    background-position: left top;

}
div#b2{
background-position: left center;
}
div#b3{
background-position: right bottom;
}
div#b4{
background-position: center center;
}
